pandas==1.5.3
numpy==1.23.5
matplotlib==3.7.1
seaborn==0.12.2
scikit-learn==1.2.2
tensorflow==2.12.0
nltk==3.8.1
konlpy==0.6.0
joblib
scipy==1.13.1
SQLAlchemy==2.0.31
PyMySQL==1.1.1
boto3==1.34.151